.update-user {
    display: none;
}

.update-user-show {
    display: block;
    position: fixed;
    top: 10vh;
    background: #fffffff0;
    padding: 20px 50px 50px;
    border-radius: 5px;
}

.update-user-show h6 {
    color: red;
    font-style: italic;
}

.update-user-show > form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 5px;
}

.update-user-show span {
    color: red;
    font-size: 10px;
    font-style: italic;
}

.toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

.toggle-btn:hover {
    font-size: 19px;
    color: darkblue;
    cursor: pointer;
}
