.app {
  background: url("https://img4.goodfon.ru/original/1922x1922/6/4f/abstraktsiia-krugi-abstract-background-with-modern-design.jpg") no-repeat center/cover;
  height: 100vh;
  padding: 20px;

}

button:hover {
  cursor: pointer;
}
